$mainFontFamily:'Roboto',
sans-serif;
$headersFontFamily: 'Anton',
sans-serif;

$weatherTitleColor: #f1eaea;
$weatherFormBgColor: #f1eaea;
$weatherFormColor: #301414;
$weatherInfoBgColor: #00000075;
$weatherInfoColor: #f1eaea;
$weatherErrorColor: #f1eaea;
$weatherErrorBgColor: #e61212;